<%- include partials/header %>
<%- include partials/main_nav %>
   

<main class="container">
  <div class="jumbotron p-4">
    <div class="row">
      <div class="col-7 d-flex align-items-center">
        <div>
          <h4>Hello!</h4>
          <p>
            My name is Minh Gia Nguyen
          </p>
          <p>
            I'm a Centennial student majoring in Game Programming. I'm in the Co-op program and hope work in Quality
            Assurance in the future. In general, I enjoy working on games but, the things I've learned 
            are easily applicable to a myriad of different types of software.
          </p>
          <a class="btn btn-primary" href="/MNguyen_Resume_Sept.26.pdf" target="_blank">View Resume</a>
        </div>
      </div>
      <div class="col-5">
        <img class="w-50 mw-50" src="/images/defme.jpg" />
      </div>
    </div>
  </div>
</main>
   

<!--bottom nav-->

<!--script section-->
<%- include partials/bottom_nav %>
<%- include partials/footer %>
   