<%- include partials/header %>
<%- include partials/main_nav %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">How can I help?</h1>
    <div class="ms-5">
      <h4>Human Rubber Ducky</h4>
      <p class="ms-5">Explain to me your code, I'll ask questions to understand.. which will help find errors or design changes to be done.</p>
    </div>
    <div class="ms-5">
      <h4>Silly User Simulation</h4>
      <p class="ms-5">Without deploying your work, let me simulate how a user may navigate your software/site/game.</p>
    </div>
  </div>
</main>
   

<!--bottom nav-->

<!--script section-->
<%- include partials/bottom_nav %>
<%- include partials/footer %>
   