<div>
    <h4>Bomberman</h4>
    <img class="mw-100" src="/images/bomberman.png">
    <p>
        I developed a server and client application for a 2D multiplayer game in C# using Winforms/GDI+ for interface;
        implemented network logic, allowing game play between computers.
    </p>
    <a class="btn btn-primary" href="https://github.com/mnyen350" target="_blank">View GitHub</a>
</div>