<div>
    <h4>Conquer Online Server</h4>
    <img class="mw-100" src="/images/conquer.png">
    <p>
        A personal private server developed using C# using multi-threading, TCP networking, encryption/security 
        and a database. It implements behavioral design patterns such as async (TAP), event driven, state, and 
        iterator to call methods, retain client status, and maintain proper scope on demand.
    </p>
    <a class="btn btn-primary" href="https://github.com/mnyen350" target="_blank">View GitHub</a>
</div>