<div>
    <p>
        My name is Minh Nguyen, my mission is to break code. Quality Assurance is like a game, where the developer is GM,
    </p>
    <p>Game Master, and as the Quality Assurance or player, I am here to beat the game any way possible. </p>
    <p>The GM should have designed the game in a way which no one can break it or clear it in any unexpected ways.</p>
    <a class="btn btn-primary" href="https://github.com" target="_blank">View GitHub</a>
</div>