<div>
    <h4>Dungeon Crawler</h4>
    <img class="mw-100" src="/images/cc3k.png">
    <p>
        Developed single player console application with "rogue-like" RPG game elements in C#, focusing on object-oriented concepts such as interfaces, inheritance and polymorphism.
        Implemented dynamic level generation by using interfaces for entities and game objects.
    </p>
    <a class="btn btn-primary" href="https://github.com/mnyen350" target="_blank">View GitHub</a>
</div>